pyrogram
tgcrypto

pyromod
ffmpeg
mediainfo
cloudscraper
beautifulsoup4
bs4
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru
helper
pyaes
soupsieve
py-tgcalls
Brotli

certifi

charset-normalizer

cloudscraper

idna



pyparsing



python-dotenv

requests

requests-toolbelt



urllib3

jinja2
